<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        $(document).ready(function () {
            $('#send').submit(function (e) {
                e.preventDefault();
                var pain = false;
                if ($(".id_abdominal_pain:checked").val() === "yes") {
                    pain = true;
                }
                axios.post($(this).attr('action'), {
                    'gender': $(".id_gender:checked").val(),
                    'age': parseInt($('#id_age').val()),
                    'abdominal_pain': pain,
                    'systolic_bp': parseInt($('#id_systolic_bp').val()),
                    'diastolic_bp': parseInt($('#id_diastolic_bp').val())
                })
                    .then(function (response) {
                        console.log(response);
                        $("#result").text(response.data)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            })
        });

    </script>
    <style>
        button {
            width: 80px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form action="/json_message/" method="post" id="send">
    {% csrf_token %}
    <label for="">Gender</label>
    <br>
    <!--<input type="text" id="id_gender"><br>-->
    <input type="radio" name="gender" class="id_gender" value="male" checked>male
    <input type="radio" name="gender" class="id_gender" value="female">female<br>

    <label for="">Age</label><br><input type="text" id="id_age"><br>
    <label for="">Abdominal_pain</label><br>

    <input type="radio" name="abdominal_pain" class="id_abdominal_pain" value="yes" checked>yes
    <input type="radio" name="abdominal_pain" class="id_abdominal_pain" value="no">no<br>

    <!--<input type="text" id="id_abdominal_pain"><br>-->
    <label for="">Systolic_bp</label><br><input type="text" id="id_systolic_bp"><br>
    <label for="">Diastolic_bp</label><br><input type="text" id="id_diastolic_bp"><br>
    <button type="submit">OK</button>
</form>
<div id="result"></div>


</body>
</html>